In [3]:
import pandas as pd
df = pd.read_csv('C:/Sarika\Programming/12th Feb/transactions.csv')
df

,t_date,cust_id,t_amt,services,products_used,city,state,t_details
0,06-26-2015,4007024,40.33,Exercise & Fitness,Cardio Machine Accessories,Clarksville,Tennessee,credit
1,05-26-2015,4006742,198.44,Exercise & Fitness,Weightlifting Gloves,Long Beach,California,credit
2,06-01-15,4009775,5.58,Exercise & Fitness,Weightlifting Machine Accessories,Anaheim,California,credit
3,06-05-15,4002199,198.19,Gymnastics,Gymnastics Rings,Milwaukee,Wisconsin,credit
4,12-17-2015,4002613,98.81,Team Sports,Field Hockey,Nashville,Tennessee,credit
...,...,...,...,...,...,...,...,...
49995,09-18-2015,4005664,53.95,Games,Dice Games,Irving,Texas,credit
49996,10-02-15,4007287,163.81,Games,Poker Chips & Sets,Kansas City,Missouri,credit
49997,05-03-15,4003954,35.85,Racquet Sports,Squash,New Orleans,Louisiana,cash
49998,10-23-2015,4007843,180.41,Gymnastics,Vaulting Horses,Berkeley,California,credit
49999,12-14-2015,4001406,168.49,Team Sports,Team Handball,Rockford,Illinois,credit

In [4]:
df['t_amt'] = pd.to_numeric(df['t_amt'], errors='coerce')
total_sales = df['t_amt'].sum()
print(total_sales)

5110820.54

In [5]:
df['t_date'] = pd.to_datetime(df['t_date'], errors='coerce')
df['month'] = df['t_date'].dt.month
monthly_sales = df.groupby('month')['t_amt'].sum()
highest_month = monthly_sales.idxmax()
print(highest_month)

7.0

In [6]:
avg_per_customer = df.groupby('cust_id')['t_amt'].mean()
print(avg_per_customer)

cust_id
4000000    127.444000
4000001    108.945556
4000002     56.165000
4000003    123.670000
4000004    168.135000
              ...
4009995     65.018571
4009996    104.515000
4009997    121.547500
4009998    110.950000
4009999     85.252500
Name: t_amt, Length: 9926, dtype: float64

In [7]:
#Total sales over months
monthly_sales=df.groupby('month')['t_amt'].sum()
print(monthly_sales)

month
1.0     269566.30
2.0     223339.41
3.0     267941.97
4.0     244645.78
5.0     262367.28
6.0     254504.70
7.0     276934.38
8.0     268165.99
9.0     252861.06
10.0    264601.86
11.0    243989.75
12.0    253601.95
Name: t_amt, dtype: float64

In [8]:
#Highest transaction amount
highest_transaction=df['t_amt'].max()
print(highest_transaction)

200.0

In [9]:
#service category contributing the most to total revenue
service=df.groupby('services')['t_amt'].sum()
top_service=service.idxmax()
print(top_service)

Outdoor Recreation

In [10]:
#Product with the highest revenue
product_revenue=df.groupby('products_used')['t_amt'].sum()
top_product=product_revenue.idxmax()
print(top_product)

Yoga & Pilates

In [11]:
#Average transaction amount per service category
average_transaction=df.groupby('services')['t_amt'].mean()
average_transaction

services
Air Sports                103.455104
Combat Sports             101.061761
Dancing                   102.907512
Exercise & Fitness        103.660247
Games                     102.272968
Gymnastics                102.385901
Indoor Games              103.074684
Jumping                   102.155171
Outdoor Play Equipment    101.281196
Outdoor Recreation        100.999480
Puzzles                   100.595997
Racquet Sports            103.647461
Team Sports               102.738998
Water Sports              101.899975
Winter Sports             101.217718
Name: t_amt, dtype: float64

In [12]:

df

,t_date,cust_id,t_amt,services,products_used,city,state,t_details,month
0,2015-06-26,4007024,40.33,Exercise & Fitness,Cardio Machine Accessories,Clarksville,Tennessee,credit,6.0
1,2015-05-26,4006742,198.44,Exercise & Fitness,Weightlifting Gloves,Long Beach,California,credit,5.0
2,NaT,4009775,5.58,Exercise & Fitness,Weightlifting Machine Accessories,Anaheim,California,credit,NaN
3,NaT,4002199,198.19,Gymnastics,Gymnastics Rings,Milwaukee,Wisconsin,credit,NaN
4,2015-12-17,4002613,98.81,Team Sports,Field Hockey,Nashville,Tennessee,credit,12.0
...,...,...,...,...,...,...,...,...,...
49995,2015-09-18,4005664,53.95,Games,Dice Games,Irving,Texas,credit,9.0
49996,NaT,4007287,163.81,Games,Poker Chips & Sets,Kansas City,Missouri,credit,NaN
49997,NaT,4003954,35.85,Racquet Sports,Squash,New Orleans,Louisiana,cash,NaN
49998,2015-10-23,4007843,180.41,Gymnastics,Vaulting Horses,Berkeley,California,credit,10.0
49999,2015-12-14,4001406,168.49,Team Sports,Team Handball,Rockford,Illinois,credit,12.0

In [13]:
#Unique customers made purchases
unique_customers=df['cust_id'].nunique() 
print(unique_customers)

9926

In [14]:
#Identify customers who have spent the most overall
amt=df.groupby('cust_id')['t_amt'].sum()
customer_withmostoverall=amt.idxmax()
print(customer_withmostoverall)

4009485

In [21]:
#Average transactions per customer
transactions_per_customer=df.groupby('cust_id')['t_amt'].count()
average_transaction=transactions_per_customer.mean()
print(average_transaction)

5.037275841225066

In [27]:
#Cutomers who made multiple purchases in different service categories
customer_services=df.groupby('cust_id')['services'].nunique()
customers_multiple_services=customer_services[customer_services > 1]
print(customers_multiple_services)

cust_id
4000000    4
4000001    8
4000002    2
4000003    3
4000004    3
          ..
4009995    4
4009996    6
4009997    4
4009998    4
4009999    5
Name: services, Length: 9488, dtype: int64

In [33]:
#Percentage of repeat customers
customer_transactions=df.groupby('cust_id')['t_amt'].count()
percentage_repeat_customers=(customer_transactions > 1).sum() / len(customer_transactions) * 100
print(percentage_repeat_customers)

96.5645778762845

In [35]:
#product category with the highest total sales
product_category_sales=df.groupby('services')['t_amt'].sum()
top_product_category=product_category_sales.idxmax()
print(top_product_category)

Outdoor Recreation

In [36]:
#Services which are most popular by transaction count
service=df.groupby('services')['t_amt'].count()
most_popular_service=service.idxmax()
print(most_popular_service)

Outdoor Recreation

In [43]:
#For service category, which product type is purchased most frequently
service_product=df.groupby('services')['products_used']
most_frequent_product=service_product.apply(lambda x: x.mode()[0])
print(most_frequent_product)

services
Air Sports                                Parachutes
Combat Sports                                 Boxing
Dancing                                  Ballet Bars
Exercise & Fitness        Cardio Machine Accessories
Games                                        Mahjong
Gymnastics                             Balance Beams
Indoor Games                                Foosball
Jumping                                  Trampolines
Outdoor Play Equipment                    Swing Sets
Outdoor Recreation                        Lawn Games
Puzzles                               Jigsaw Puzzles
Racquet Sports                             Badminton
Team Sports                                   Hockey
Water Sports                            Bodyboarding
Winter Sports                   Cross-Country Skiing
Name: products_used, dtype: object

In [ ]:
#average transaction amount per product type
product=df.groupby('products_used')['t_amt'].mean()
average_transaction=product.mean()
print(average_transaction)

In [44]:
#specific services where customers spend significantly more
service_avg = df.groupby('services')['t_amt'].mean()
overall_avg = df['t_amt'].mean()
services_above_avg = service_avg[service_avg > overall_avg]
print(services_above_avg)

services
Air Sports            103.455104
Dancing               102.907512
Exercise & Fitness    103.660247
Games                 102.272968
Gymnastics            102.385901
Indoor Games          103.074684
Racquet Sports        103.647461
Team Sports           102.738998
Name: t_amt, dtype: float64

In [45]:
#state with the highest total sales
state_sales = df.groupby('state')['t_amt'].sum()
top_state = state_sales.idxmax()
print(top_state)

California

In [46]:
#city with highest number of transactions
city_transactions = df.groupby('city')['t_amt'].count()
top_city = city_transactions.idxmax()    
print(top_city)

Pasadena

In [47]:
#average spending per transaction in each state
state_avg_spending=df.groupby('state')['t_amt'].mean()
print(state_avg_spending)

state
Alabama                 102.487049
Arizona                 102.172241
California              102.652182
Colorado                101.537415
Connecticut              99.982108
District of Columbia    103.800334
Florida                 103.136567
Georgia                 102.330675
Hawaii                  101.536667
Idaho                    98.969538
Illinois                100.166315
Indiana                 100.712664
Iowa                    103.100727
Kansas                  101.436926
Kentucky                104.130392
Louisiana               103.466335
Maryland                100.506913
Massachusetts           104.541571
Michigan                101.547777
Minnesota               103.465157
Mississippi             101.214926
Missouri                100.969040
Nebraska                101.955690
Nevada                  105.434718
New Jersey              103.438005
New York                100.259452
North Carolina          103.033172
Ohio                    101.350817
Oklahoma                104.995771
Oregon                  102.438143
Pennsylvania            102.776034
South Carolina          103.540065
Tennessee                99.265804
Texas                   101.379891
Utah                    104.507560
Virginia                104.976206
Washington              101.401603
Wisconsin               101.953159
Name: t_amt, dtype: float64

In [50]:
#services more popular in specific states
state_services=df.groupby('services')['t_amt'].count()
popular_services=state_services.idxmax()
print(popular_services)

Outdoor Recreation

In [54]:
#states which buy the most Outdoor Recreation products
outdoor_recreation=df[df['services']=='Outdoor Recreation']
state_product=outdoor_recreation.groupby('state').size()
most_popular_state=state_product.idxmax()
print(most_popular_state)

California

In [55]:
#average spending between California and Texas customers
california=df[df['state']=='California']['t_amt'].mean()
texas=df[df['state']=='Texas']['t_amt'].mean()
average_spending=(california+texas)/2
print(average_spending)

102.01603673795913

In [69]:
#quarter of the year which saw the highest sales
df = df.copy() 
df['t_date'] = pd.to_datetime(df['t_date'], errors='coerce')
df = df.dropna(subset=['t_date'])
df.loc[:, 'year'] = df['t_date'].dt.year
df.loc[:, 'quarter'] = df['t_date'].dt.quarter
quarterly_sales = df.groupby(['year', 'quarter'])['t_amt'].sum()
highest_quarter = quarterly_sales.idxmax()
year, quarter = highest_quarter
print(f"{quarter} {year}")

3 2015

In [70]:
#Total sales variation month by month
monthly_sales=df.groupby('month')['t_amt'].sum()
print(monthly_sales)

month
1.0     269566.30
2.0     223339.41
3.0     267941.97
4.0     244645.78
5.0     262367.28
6.0     254504.70
7.0     276934.38
8.0     268165.99
9.0     252861.06
10.0    264601.86
11.0    243989.75
12.0    253601.95
Name: t_amt, dtype: float64

In [71]:
#total number of transactions per month
monthly_transactions=df.groupby('month')['t_amt'].count()
print(monthly_transactions)

month
1.0     2629
2.0     2180
3.0     2632
4.0     2445
5.0     2544
6.0     2498
7.0     2654
8.0     2608
9.0     2453
10.0    2598
11.0    2401
12.0    2502
Name: t_amt, dtype: int64

In [74]:
#   particular season when sports equipment sales spike
df = df.copy()
df['t_date'] = pd.to_datetime(df['t_date'], errors='coerce')
df = df.dropna(subset=['t_date'])
df['month'] = df['t_date'].dt.month
def get_season(month):
    if month in [12, 1, 2]:
        return 'Winter'
    elif month in [3, 4, 5]:
        return 'Spring'
    elif month in [6, 7, 8]:
        return 'Summer'
    else:
        return 'Fall'
df['season'] = df['month'].apply(get_season)
seasonal_sales = df.groupby('season')['t_amt'].sum()
highest_season = seasonal_sales.idxmax()
print(highest_season)

Summer

In [79]:
#How many transactions were done using credit
credit_transactions=df[df['t_details']=='credit']
count=credit_transactions['t_amt'].count()
print(count)

25996

In [80]:
#total revenue generated from credit transactions
credit_revenue=credit_transactions['t_amt'].sum()
print(credit_revenue)

2968775.26

In [86]:
#difference in average spending between credit and debit customers
credit_transactions=df[df['t_details']=='credit']
average_credit=credit_transactions['t_amt'].mean()
cash_transactions=df[df['t_details']=='cash']
average_cash=cash_transactions['t_amt'].mean()
difference=average_credit-average_cash
print(difference)

86.77954329558601

In [88]:
#states or cities the company focus on for marketing high-value products
state_total_revenue = df.groupby('state')['t_amt'].sum().sort_values(ascending=False)
print(state_total_revenue.head())

state
California    423786.00
Texas         322049.05
Florida       172399.47
Oregon        113652.75
Ohio          112599.66
Name: t_amt, dtype: float64

In [90]:
#Should more inventory be stocked for Exercise & Fitness products given their popularity?
exercise_fitness=df[df['services']=='Exercise & Fitness']
exercise_fitness_sales=exercise_fitness['t_amt'].sum()
print(exercise_fitness_sales)

462482.63

In [111]:
#Are there product categories with high sales but low average transaction amounts?
category_stats=df.groupby('services')['t_amt'].agg(total_sales='sum',avg_transaction='mean')
high=category_stats['total_sales'].median()
low=category_stats['avg_transaction'].median()
transactions=category_stats[(category_stats['total_sales'] > high) &(category_stats['avg_transaction'] < low)]
print(transactions)

                    total_sales  avg_transaction
services
Outdoor Recreation    507986.16       101.051554
Team Sports           375179.47       102.396144
Water Sports          316136.28       102.408902
Winter Sports         196333.42       101.202794

In [112]:
#Are there underperforming service categories that need promotional offers?
service_stats=df.groupby('services')['t_amt'].agg(total_sales='sum',avg_transaction='mean')
high=service_stats['total_sales'].median()
low=service_stats['avg_transaction'].median()
transactions=service_stats[(service_stats['total_sales'] < high) &(service_stats['avg_transaction'] > low)]
print(transactions)

              total_sales  avg_transaction
services
Air Sports       59721.68       102.791188
Dancing          27817.96       104.187116
Indoor Games    170148.51       102.746685
Jumping         124334.35       103.096476
Puzzles          37890.91       103.810712